<div>
  <div>
    <h1>
      All users
    </h1>
  </div>
</div>

<hr>


<ul>
  <% @list_of_users.each do |an_user| %>
    <li>
      <a href="/users/<%= an_user.username %>">
        <%= an_user.username %>
        <% if an_user.private? %>
            Yes
        <% else %>
            No
        <% end %>

      </a>

      <% if user_signed_in? && an_user.id != current_user.id %>
        <% fr = FollowRequest.where({
             :sender_id    => current_user.id,
             :recipient_id => an_user.id
           }).at(0) %>

        <% if fr.nil? %>
          <!-- no request yet -->
          <form action="/follow_requests" method="post">
            <input
              type="hidden"
              name="recipient_id"
              value="<%= an_user.id %>"
            >
            <button type="submit">Follow</button>
          </form>

        <% elsif fr.status == "accepted" %>
          <!-- already following -->
          <a href="/delete_follow_request/<%= fr.id %>">Unfollow</a>
        <% end %>
      <% end %>
    </li>
  <% end %>
</ul>
