<div>
  <div>
    <h1>
      List of all photos
    </h1>
  </div>
</div>

<hr>

<h2>All Public Photos</h2>

<% if user_signed_in? %>
<form action="/photos" method="post" enctype="multipart/form-data">
  <label for="image">Image</label>
  <input id="image" type="file" name="image">

  <label for="caption">Caption</label>
  <input id="caption" type="text" name="caption">

  <button type="submit">Add photo</button>
</form>
<% end %>
<hr>

<ul>
  <% @list_of_photos.each do |photo| %>
    <li>
      <img
        src="<%= photo.image %>"
        alt="<%= photo.caption %>"
      >
      <p><%= photo.caption %></p>
    </li>
  <% end %>
</ul>
